#Ignore env files
.env
logs/
flagged/
__pycache__/
logs
.aider*
chromadb/
# ignore weights
*.pth
# ignore lancedb
*.lance
screenshot*.png
tmp/
chroma_db
*.db
*.sqlite3
.DS_Store
*.bin
output.log
*_cache*
cache-embeddings
.gpte_consent
storage
.cache
crew_memory
aider_workspace/